@import "../../components/bootstrap/scss/bootstrap";


/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

img {
	max-width: 100%;
}

body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
}

/* DEFAULT */

.spacing{
	margin:20px 0;
}

.modal-header{
	background-color: #eb8300;
    color: #fff;
}

.modal-danger{
	background-color: red;
    color: #fff;
}

.modal-info{
	background-color: #17a2b8;
    color: #fff;
}

.modal-disabled{
	background-color: #c82333;
    color: #fff;
}

.modal-warning{
	background-color: #ffc107;
	color: #fff;
}

/* MENU */

.header .navbar{
	padding-left: 80px;
}

.bd-not{
	color: #fff;
	background-color: #eb8300;
}

/* USUÁRIOS */

.tbl-users{
	text-align: center;
}

/* icons */
.icon-ok{
	color: green;
}
.icon-disabled{
	color: #d9534f;
}
.icon-edit {
	color: #5bc0de;
}
.icon-reset{
	color: #d7dd35;
}
.icon-delete {
	color: red;
}

.icon-warning{
	color: #ffc107;
}

/* CAMPEONATOS */

.legend{
	display: flex;
	justify-content: flex-end;
} 

.legend p{
	padding-left: 20px;
}

.fa-trophy{
	color: #f1e027;
}

.value-insc{
	padding: 0 27px;
	font-size: 13px;
}

/*Mata mata Confrontos*/

.cup-vs{
	margin-bottom: 20px;
}
.cup-vs .form-row{
	display: flex;
	justify-content: space-between;
}

.cup-vs .form-row span{
	font-size: 23px;
    color: #555;
}

 /* btn */

 .btn-action .btn{
 	width: 95%
 }

 .btn-action-2 .btn{
 	width: 100%
 }

/* CONFIGURAÇÕES */

.btns{
	margin-top: 20px;
}

.btns .btn{
	width: 100%;
}

/* Footer */

.footer{
	padding: 15px 0;
    background-color: #eb8300;
}

.footer p{
	padding-top: 20px;
}